/Labs/lab1/.vs/
/Labs/lab1/lab1/Debug/
/Labs/lab1/Debug/
/Labs/ConsoleApplication16/.vs/
/Labs/ConsoleApplication16/ConsoleApplication16/Debug/
/Labs/ConsoleApplication16/Debug/
/Labs/LAB2CLR/.vs/
/Labs/LAB2CLR/LAB2CLR/Debug/
/Labs/LAB2CLR/Debug/
/Labs/LAB3_1/Debug/
/Labs/LAB3_1/LAB3_1/Debug/
/Labs/LAB3_1/.vs/
/Labs/LAB3_1/x64/
/Labs/LAB3_1/LAB3_1/x64/
/Labs/LAB3_2/.vs/
/Labs/LAB3_2/Debug/
/Labs/LAB3_2/LAB3_2/Debug/
/Labs/LAB3_2/LAB3_2/x64/
/Labs/LAB3_2/x64/
/Labs/LAB3_3/.vs/
/Labs/LAB3_3/Debug/
/Labs/LAB3_3/LAB3_3/Debug/
/Labs/LAB3_3/LAB3_3/x64/
/Labs/LAB3_3/x64/
/Labs/LAB3/.vs/
/Labs/LAB3/Debug/
/Labs/LAB3/LAB3/Debug/
/Labs/LAB3/LAB3/x64/
/Labs/LAB3/x64/
